---
import { Image } from 'astro:assets'
import nosotros1 from '../../assets/nosotros-1.jpg'
import nosotros2 from '../../assets/nosotros-2.jpg'
import nosotros3 from '../../assets/nosotros-3.jpg'
import nosotros4 from '../../assets/nosotros-4.jpg'
import nosotros5 from '../../assets/nosotros-5.jpg'
---

<section
  id="sobre-nosotros"
  class="max-w-6xl mx-auto px-6 py-8 pb-12"
>
  <p class="text-base text-gray-500 mb-6">
    Proyecto realizado para la cátedra de <strong>Probabilidad y Estadística</strong> del Programa de Ingeniería en Informática
    de la UNERG, dada por la profesora <strong>Marisela Trujillo</strong>.
  </p>

  <h3 class="text-1xl font-bold mb-4">Inttegrantes del equipo:</h3>

  <div class="flex flex-wrap gap-6 justify-center">
    <div class="w-[250px] bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
      <Image
        src={nosotros1}
        class="w-24 h-24 rounded-full mx-auto mb-3 object-cover"
        alt=""
      />
      <h3 class="text-lg font-semibold text-gray-900">Milagros Aponte</h3>
    </div>
    <div class="w-[250px] bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
      <Image
        src={nosotros2}
        class="w-24 h-24 rounded-full mx-auto mb-3 object-cover"
        alt=""
      />
      <h3 class="text-lg font-semibold text-gray-900">Luis Ávila</h3>
    </div>
    <div class="w-[250px] bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
      <Image
        src={nosotros3}
        class="w-24 h-24 rounded-full mx-auto mb-3 object-cover"
        alt=""
      />
      <h3 class="text-lg font-semibold text-gray-900">Rafael Benavides</h3>
    </div>
    <div class="w-[250px] bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
      <Image
        src={nosotros4}
        class="w-24 h-24 rounded-full mx-auto mb-3 object-cover"
        alt=""
      />
      <h3 class="text-lg font-semibold text-gray-900">Ricardo Marín</h3>
    </div>
    <div class="w-[250px] bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
      <Image
        src={nosotros5}
        class="w-24 h-24 rounded-full mx-auto mb-3 object-cover"
        alt=""
      />
      <h3 class="text-lg font-semibold text-gray-900">Bárbara Molina</h3>
    </div>
  </div>
</section>
